# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
venv310/
venv311/

# Environment variables
.env

# Streamlit
.streamlit/

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
